{% extends "base.html" %}

{% block content %}

<main class="container">
    <div class="row">
        <div class= "col-md-4 offset-md-4 mt-5">
            <!-- Col-md-4 es para que el formulario se vea centrado en la pantalla, offset-md-4 es para que se vea centrado -->
            <!-- mt-5 es para que haya un margen top de 5 -->
            <form action="/tasks/create/" method="POST" class="card card-body">
                
                <h1>Crear tarea</h1>

                {{error}}

                {% csrf_token %}

                {{form.as_p}}

                <button class="btn btn-primary" type="submit">
                    Save
                </button>
            </form> 
        </div>
    </div>
</main>
   
{% endblock %}