{% extends "base.html" %}
{% block content %}

<main class="container py-5">
    <section class="card card-body">
        <h1 class=" display-1 text-center">Djgango App</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore iste sunt iusto saepe, atque dignissimos aperiam accusamus odio corporis tenetur necessitatibus aspernatur esse rem sed nisi delectus est sapiente eaque harum magni, voluptatum, totam explicabo nihil. Aliquam, obcaecati illum quasi quia impedit pariatur quaerat blanditiis, laboriosam ratione harum eligendi molestias nostrum quas. Ratione suscipit perspiciatis deleniti neque dolore. At, exercitationem? Excepturi eaque similique at, quo magnam accusamus qui, facere animi consequuntur inventore pariatur, itaque id autem deserunt velit fugit esse! Deleniti iusto illo commodi porro, facere, optio similique odit placeat minus ea provident sequi magni amet inventore tenetur voluptatibus itaque!</p>

        <div class="text-center">
            <a class="btn btn-secondary" href="/signin/">
                Signin
            </a>
            <a class="btn btn-dark" href="/signup/">
                Signup
            </a>
        </div>
    </section>
</main>


{% endblock %}